ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
pymongo
from_root
dill
certifi
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi
python-multipart
uvicorn
jinja2
imblearn
-e .

# connection_string = mongodb+srv://jayeshschauhan0810:<db_password>@cluster0.zn29h2w.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0